* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  background: #f73910;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
  font-size: inherit;
}

header {
  background: #ccc;
}

.o-content-section {
  margin-bottom: 4rem;
}

.launch-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  opacity: 0;
  transition: opacity 0.2s;
}

.launch-btn:hover,
.launch-btn:focus {
  opacity: 1;
}

.masthead {
  background: #eee;
  height: 12rem;
  height: 4rem;
}

.u-list-bare {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-list {
  display: flex;
}

.nav-list a {
  display: block;
  padding: 0.5em 1em;
  color: #333;
  font-weight: bold;
}

h1, h2, h3, p {
  margin: 0 0 1em;
}

p:last-child {
  margin-bottom: 0;
}

.intro {
  font-size: 1.25rem;
}

.media-box {
  display: flex;
  column-gap: 2rem;
}

.media-box__media {
  width: 33%;
  flex: 1 1 auto;
}

.media-box__media--right {
  order: 2;
}

.media-box__image {
  display: block;
  width: 100%;
  max-width: 100%;;
}

.media-box__content {
  width: 67%;
  flex: 2 2 auto;
}

.media-box__content.block-level {
  background: #eee;
  border: 1px solid;
  border-radius: 3em;
  padding: 2em;
}

.elm--with-border {
  padding: 1em;
  border: 1px solid;
  border-bottom: 2px solid red;
}

.elm--with-rounded-corner {
  overflow: hidden;
  padding: 0;
  /* border-radius: 200px; */
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  line-height: 0;
}