html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.launch-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
  background: #f73910;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
}

.launch-btn:hover,
.launch-btn:focus {
  opacity: 1;
}

.masthead {
  /* margin-bottom: 4rem; */
  background: #eee;
  height: 12rem;
}

header {
  margin-bottom: 4rem;
  background: #ccc;
}

.u-list-bare {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-list {
  display: flex;
}

.nav-list a {
  display: block;
  padding: 0.5em 1em;
  color: #333;
  font-weight: bold;
}

h1, h2, h3, p {
  margin: 0 0 1em;
}

p:last-child {
  margin-bottom: 0;
}

.intro {
  margin-bottom: 4rem;
  font-size: 1.25rem;
}

.media-box {
  display: flex;
  column-gap: 2rem;
  margin: 0 0 4rem;
}

.media-box__media {
  width: 33%;
  flex: 1 1 auto;
}

.media-box__media--right {
  order: 2;
}

.media-box__image {
  display: block;
  width: 100%;
  max-width: 100%;;
}

.media-box__content {
  width: 67%;
  flex: 2 2 auto;
}

.elm-level {
  background: #eee;
}